@page "/servers/add"

@inject NavigationManager navmgr

<h3>AddServer</h3>

    <EditForm Model="s1" FormName="AddServerForm" OnValidSubmit="Submit">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Servername</label>
            <InputText type="text" class="form-control" id="exampleFormControlInput1" placeholder="ServerName..." @bind-value="s1.Name">
            </InputText>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">City</label>
            <InputText type="text" class="form-control" id="exampleFormControlInput1" placeholder="City...." @bind-value="s1.City">
            </InputText>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-check-label">isOnline</label>
            <InputCheckbox class="form-check-input" @bind-Value="s1.IsOnline"></InputCheckbox>
        </div>

        <div class="mb-3">
            <button type="submit">submit</button>
            <a class="btn-sm btn-secondary" href="servers">Close</a>
        </div>

    </EditForm>

@code {
    [SupplyParameterFromForm(FormName = "AddServerForm")]
    private Server s1 { get; set; } = new Server();

    private void Submit()
    {
        ServerRepository.AddServer(s1);
        //navmgr.NavigateTo("servers");
    }
}
