@page "/Servers/{id:int}"

<h3>Edit Server</h3>

@if(s1 != null)
{
    <EditForm Model="s1">
        <InputText @bind-Value="s1.Name"></InputText>
        <InputText @bind-Value="s1.City"></InputText>
    </EditForm>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Server s1;

    protected override void OnParametersSet()
    {
        s1 = ServerRepository.GetServerByID(Id);
    }
}
